<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Budget Calculator</title>
</head>
<body>
<h1>Add budget</h1>
<div>
 <form th:object="${budget}" th:action="@{save}" action="#" method="post">

 <label for="income">Income</label>
 <input type="number" id="income" th:field="*{income}" />
 <label for="spend">Spend</label>
 <input type="number" id="spend" th:field="*{spend}" />
 <input type="submit" value="Save"></input>
 </form>
</div>
</body>
</html>