<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Budget Calculator</title>
</head>
<body>

<h1>Budget Calculator</h1>
<p>
Budget Calculator that calculates your monthly income and spend. You can also plan your budget for future months.
</p>

<!-- linkki budjettilistauksiin -->
<a href="/budgets" class="btn btn-primary">Budget Lists</a>
<br/>
<!-- linkki menneen budjetin lisäykseen -->
<a href="/add" class="btn btn-primary">Add Monthly Budget</a>
<br/>
<!-- linkki budjettisuunnitelman lisäykseen -->
<a href="/addplan" class="btn btn-primary">Plan Monthly Budget</a>

</form>
</body>
</html>
