<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Budget Planner</title>
</head>
<body>
<h1>Planned Budgets</h1>
<table class="table table-striped">
<tr>
<th>Month</th>
<th>Income</th>
<th>Spend</th>
</tr>
<tr th:each = "plannedbudget : ${plannedbudgets}">
<td th:text="${plannedbudget.month}"></td>
<td th:text="${plannedbudget.income}"></td>
<td th:text="${plannedbudget.spend}"></td>

</tr>
</table>

<a href="/addplan" class="btn btn-primary">Plan Monthly Budget</a>

</body>
</html>